@using Microsoft.Extensions.Configuration;
@using Microsoft.AspNetCore.Http
@inject IConfiguration Configuration;

@{
    ViewBag.Title = "Menu Group";
    string apiUrl = Configuration.GetValue<string>("WebAPIBaseUrl");
}

<div class="page-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fe fe-pie-chart mr-1"></i> Admin Console</a></li>
        <li class="breadcrumb-item active" aria-current="page">Menu Groups</li>
    </ol>
    <div class="ml-auto">
        <a href="#" onclick="showAddBtn()" data-toggle="modal" data-target="#menuGrpModal" class="btn btn-primary btn-icon btn-sm text-white mr-2">
            <span>
                <i class="fe fe-plus"></i>
            </span> Create Menu Group
        </a>

    </div>
</div>

<div class="col-md-12 col-lg-12">
    <div class="card">
        <div class="card-header">
            <div class="card-title">Menu</div>
        </div>
        <div class="card-body">
            <div class="table-responsive">

                <table id="menuGrpTable" class="table table-striped table-bordered nowrap dataTable no-footer dtr-inline" style="width:100%">
                    <thead>
                        <tr>
                            <th>Menu Group</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                </table>
                
            </div>
        </div>
    </div>
</div>


<div id="menuGrpModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">

            </div>
            <div class="modal-body">
                <form action="#" role="form" class="validate" id="formPost">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="control-label">Menu Group</label>
                                        <input type="text" autocomplete="off" class="form-control" id="menuGroup" required />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <button type="button" id="btnSave" class="btn btn-primary" style="display:none">Save</button>
                                    <button type="button" id="btnUpdate" class="btn btn-primary" style="display:none">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<div id="menuAssignModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">

            </div>
            <div class="modal-body">
                <div id="menuList"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
@section scripts{
    <script>
        var menuGrpIdForUpdate;

        $(function () {
            loadMenuGrp();

            $('#menuGrpTable tbody').on('click', 'button[data-target="#menuGrpModal"]', function () {
                var id = $(this).data('id');
                loadSingleMenuGroup(id);
                $('#btnUpdate').show();
                $('#btnSave').hide();
                menuGrpIdForUpdate = id;
            });

            $('#menuGrpTable tbody').on('click', 'button[data-target="#delete"]', function () {
                var id = $(this).data('id');

                swal({
                    html: true,
                    title: "Are you sure?",
                    text: "You will not be able to recover this data!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, confirm it!",
                    closeOnConfirm: false
                }, function () {
                    $.ajax({
                        type: "GET",
                        url: "@apiUrl/api/Menu/DeleteSingleMenuGroup/" + id,
                        contentType: "application/json; charset=utf-8",
                        headers: {
                           "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                        },
                        dataType: "json",
                        success: function (data, statusText, xhr) {
                            if (xhr.status == 200) {
                                $('#menuGrpTable').DataTable().ajax.reload(null, false);
                                sweetAlert({
                                    html: true,
                                    title: "Menu",
                                    text: "Successfully deleted!",
                                    type: "success"
                                });
                            }else if (xhr.status == 202) {
                                sweetAlert("Validation Alert!", data.responseMsg, "warning");
                            }else {
                                sweetAlert("Validation Alert!", "Something unexpected!", "warning");
                            }
                        },
                        error: function (data) {
                            if (data.status == 401) {
                                window.location.replace('/Message/TokenExpire');
                            } else if (data.status == 403) {
                                window.location.replace('/Message/Unauthorize');
                            }
                        }
                    });
                });
            });

            $('#menuGrpTable tbody').on('click', 'button[data-target="#menuAssignModal"]', function () {
                var id = $(this).data('id');
                menuGrpIdForUpdate = id;
                //console.log(id);
                $('#menuList').html('');
                $.ajax({
                    type: "GET",
                    url: "@apiUrl/api/Menu/GetMenuAccessList/" + id,
                    contentType: "text/plain; charset=utf-8",
                    headers: {
                       "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                    },
                    dataType: "text",
                    success: function (data, statusText, xhr) {
                        //console.log(data);
                        if (data){
                            $('#menuList').append(data);
                        }else {
                            sweetAlert("Validation Alert!", "Something unexpected!", "warning");
                        }
                    },
                    error: function (data) {
                        if (data.status == 401) {
                            window.location.replace('/Message/TokenExpire');
                        } else if (data.status == 403) {
                            window.location.replace('/Message/Unauthorize');
                        } else if (data.status == 400) {
                            sweetAlert("Validation Alert!", "Please check input data!", "warning");
                        }
                    }
                });

            });

            $("#btnSave").click(function (e) {
                if (!document.getElementById("formPost").checkValidity()) {
                    e.preventDefault();
                } else {
                        var model = {
                            menuGroupName: $.trim($("#menuGroup").val()),
                            isActive: true,
                            addedBy:@Context.Session.GetInt32("UserId"),
                        }
                    console.log(model);

                $.ajax({
                    type: "POST",
                    url: "@apiUrl/api/Menu/CreateMenuGroup",
                    data: JSON.stringify(model),
                    contentType: "application/json; charset=utf-8",
                    headers: {
                       "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                    },
                    dataType: "json",
                    success: function (data, statusText, xhr) {
                        console.log(xhr.status);
                        console.log(data);
                        if (xhr.status === 200) {
                            $('#menuGrpTable').DataTable().ajax.reload(null, false);
                            sweetAlert({
                                html: true,
                                title: "Menu",
                                text: "Successfully created!",
                                type: "success"
                                });
                        } else if (data.status === "duplicate") {
                            sweetAlert("Validation Alert!", data.responseMsg, "warning");
                        } else if (data.status === "error") {
                            sweetAlert("Validation Alert!", data.responseMsg, "warning");
                        }else {
                                sweetAlert("Validation Alert!", "Something unexpected!", "warning");
                            }
                    },
                    error: function (data) {
                        if (data.status == 401) {
                            window.location.replace('/Message/TokenExpire');
                        } else if (data.status == 403) {
                            window.location.replace('/Message/Unauthorize');
                        } else if (data.status == 400) {
                            sweetAlert("Validation Alert!", "Please check input data!", "warning");
                        }
                    }
                    });
                }
            });

            $("#btnUpdate").click(function (e) {
                if (!document.getElementById("formPost").checkValidity()) {
                    e.preventDefault();
                } else {
                        var model = {
                            menuGroupID: menuGrpIdForUpdate,
                            menuGroupName: $.trim($("#menuGroup").val()),
                            lastUpdatedBy:@Context.Session.GetInt32("UserId"),
                        }
                    $.ajax({
                        type: "POST",
                        url: "@apiUrl/api/Menu/UpdateMenuGroup",
                        data: JSON.stringify(model),
                        contentType: "application/json; charset=utf-8",
                        headers: {
                           "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                        },
                        dataType: "json",
                        success: function (data, statusText, xhr) {
                            //console.log(xhr.status);
                            //console.log(statusText);
                            if (xhr.status==200) {
                                $('#menuGrpTable').DataTable().ajax.reload(null, false);
                                    sweetAlert({
                                        html: true,
                                        title: "Menu",
                                        text: "Successfully updated!",
                                        type: "success"
                                    });
                            }else if (xhr.status == 202) {
                                sweetAlert("Validation Alert!", data.responseMsg, "warning");
                            } else {
                                sweetAlert("Validation Alert!", "Something unexpected!", "warning");
                            }
                        },
                        error: function (data) {
                            if (data.status == 401) {
                                window.location.replace('/Message/TokenExpire');
                            } else if (data.status == 403) {
                                window.location.replace('/Message/Unauthorize');
                            } else if (data.status == 400) {
                                sweetAlert("Validation Alert!", "Please check input data!", "warning");
                            }
                        }
                    });
                }
            });
        });

        function loadSingleMenuGroup(id) {
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/Menu/GetSingleMenuGroup/" + id,
                contentType: "application/json; charset=utf-8",
                headers: {
                       "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                },
                dataType: "json",
                success: function (data) {
                    //console.log(data);
                    if (data) {
                        $('#menuGroup').val(data.menuGroupName);
                    } else {
                        sweetAlert("Validation Alert!", "Something unexpected!", "warning");
                    }
                },
                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }

        function loadMenuGrp() {
            var table = $('#menuGrpTable').DataTable();
            table.destroy();

            table = $('#menuGrpTable').dataTable({
                "paginationType": "full_numbers",
                "dom": 'Bfrtip',
                "buttons": ['copy', 'csv', 'excel', 'pdf', 'print'],
                "searching": true,
                "paging": true,
                "sort": true,
                "info": true,
                "ajax": {
                    "url": '@apiUrl/api/Menu/GetMenuGroupList',
                    "type": "GET",
                    "dataType": "json",
                    "headers": {
                        "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                    },
                    "error": function (data) {
                        if (data.status == 401) {
                            window.location.replace('/Message/TokenExpire');
                        } else if (data.status == 403) {
                            window.location.replace('/Message/Unauthorize');
                        }
                    }
                },
                "order": [],
                "columns": [
                    { "data": "menuGroupName", "orderable": true },
                    {
                        "orderable": false,
                        "class": "action_button",
                        "render": function (data, type, row) {
                            var id = row.menuGroupID;
                            var actionButtonsHtml = "";
                            actionButtonsHtml += generateActionButtonForList(id, 'menuGrpModal');
                            return actionButtonsHtml;
                        }
                    }
                ]
            });
        }

        function menuManipulate(attr) {
            var menuId = attr.id;
            var opt = '';
            if ($(attr).prop('checked') == true) {
                opt = 'insert';
            } else if ($(attr).prop('checked')==false) {
                opt = 'delete';
            }
            var model ={
                menuGroupId: menuGrpIdForUpdate,
                menuId: parseInt(menuId),
                operation:opt,
                addedBy:@Context.Session.GetInt32("UserId"),
            }
            console.log(model);
            $.ajax({
                type: "POST",
                url: "@apiUrl/api/Menu/MenuAssign",
                data: JSON.stringify(model),
                contentType: "application/json; charset=utf-8",
                headers: {
                       "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                },
                dataType: "json",
                success: function (data, statusText, xhr) {
                    //console.log(data);
                    if (xhr.status === 200) {
                        sweetAlert({
                            html: true,
                            title: "Menu",
                            text: "Successfully Assigned!",
                            type: "success"
                        });
                    } else if (xhr.status == 202) {
                        sweetAlert("Validation Alert!", data.responseMsg, "warning");
                    } else {
                        sweetAlert("Validation Alert!", "Something unexpected!", "warning");
                    }
                },
                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });

        }

        function showAddBtn() {
            $('#btnSave').show();
            $('#btnUpdate').hide();
           // resetInput('#menuGrpModal');
        }
    </script>
}