@using Microsoft.Extensions.Configuration;
@using Microsoft.AspNetCore.Http
@inject IConfiguration Configuration;

@{
    ViewBag.Title = "Option Edit";
    string apiUrl = Configuration.GetValue<string>("WebAPIBaseUrl");
}
<!-- PAGE-HEADER -->
<div class="page-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fe fe-file-text mr-1"></i>Admin Console</a></li>
        <li class="breadcrumb-item active" aria-current="page">Option Edit</li>
    </ol>
    <div class="ml-auto">
        <a href="~/Option/OptionList" class="btn btn-primary btn-icon btn-sm text-white mr-2">
            <span>
                <i class="fe fe-plus"></i>
            </span> View
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md">
        <div class="card overflow-hidden">
            <div class="card-header">
                <h3 class="card-title">Option Edit</h3>
            </div>
            <div class="card-body">
                <form action="#" role="form" class="validate" id="formPost">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Ads Name &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <div class="input-box">
                                    <select class="form-control" id="selectads">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Choose Question</label>
                                <div class="input-box">
                                    <select class="form-control" id="selectQs">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Create Option</label>
                                <input type="text" class="form-control" id="createoption" placeholder="Option">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" id="btnupdate" class="btn btn-radius btn-success">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        GetQuestion()
        function GetQuestion(Id) {
            var opt = '';
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/QuestionTable/GetQuestionList",
                contentType: "application/json; charset=utf-8",
                headers: {
                    "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                },
                dataType: "json",
                success: function (res) {
                    console.log(res)
                    var options = [];
                    options.push('<option value="">Please Select </option>');
                    for (var i = 0; i < res.data.length; i++) {
                        if (Id == res.data[i].questionTableId) {
                            opt = 'selected'
                        } else {
                            opt = '';
                        }
                        options.push('<option value="' + res.data[i].questionTableId + '" ' + opt + '>' + res.data[i].questions + '</option>');
                    }
                    $("#selectQs").html(options.join(''));
                },
                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }
        GetAds()
        function GetAds() {
            var opt = '';
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/AdScreen/GetAdvertiseList",
                contentType: "application/json; charset=utf-8",
                headers: {
                    "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                },
                dataType: "json",
                success: function (res) {
                    console.log(res)
                    var options = [];
                    options.push('<option value="">Please Select </option>');
                    for (var i = 0; i < res.data.length; i++) {
                        //if (Id == res.data[i].questionTableId) {
                        //    opt = 'selected'
                        //} else {
                        //    opt = '';
                        //}
                        options.push('<option value="' + res.data[i].adsName + '" ' + opt + '>' + res.data[i].adsName + '</option>');
                    }
                    $("#selectads").html(options.join(''));
                },
                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }
    </script>
    <script>
        var optionsId = @ViewBag.optionsId
            loadSingleOption()
        function loadSingleOption() {
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/Options/GetSingleOption/" + optionsId,
                contentType: "application/json; charset=utf-8",
                headers: {
                    "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                },
                dataType: "json",
                success: function (data) {
                    if (data) {
                        //GetAds(data.adsName);
                        $('#selectads').val(data.adsName);
                        GetQuestion(data.questionId);
                        $('#createoption').val(data.option);
                    }
                    else {
                        sweetAlert("Validation Alert!", "Something unexpected!", "warning");
                    }
                },
                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }
        $("#btnupdate").click(function (e) {
            if (!document.getElementById("formPost").checkValidity()) {
                e.preventDefault();
            } else {

                var model = {
                    optionsId: optionsId,
                    "adsName": $.trim($("#selectads").val()),
                    "questionId": parseInt($("#selectQs").val()),
                    "option": $.trim($("#createoption").val()),
                    updatedBy: @Context.Session.GetInt32("UserId"),
                }
                console.log(model)
                $.ajax({
                    type: "POST",
                    url: "@apiUrl/api/Options/UpdateOption",
                    data: JSON.stringify(model),
                    contentType: "application/json; charset=utf-8",
                    headers: {
                        "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                    },

                    success: function (data, statusText, xhr) {
                        console.log(data)
                        if (xhr.status === 200) {
                            $('#Option_Tb').DataTable().ajax.reload(null, false);
                            sweetAlert({
                                html: true,
                                icon: "success",
                                title: "Options",
                                text: "Successfully updated!",
                                type: "success"
                            });
                        } else if (data.status === "duplicate") {
                            sweetAlert("Validation Alert!", data.responseMsg, "warning");
                        } else if (data.status === "error") {
                            sweetAlert("Validation Alert!", data.responseMsg, "warning");
                        } else {
                            sweetAlert("Validation Alert!", "Something unexpected!", "warning");
                        }
                    },
                    error: function (data) {
                        console.log(data);
                        if (data.status == 401) {
                            window.location.replace('/Message/TokenExpire');
                        } else if (data.status == 403) {
                            window.location.replace('/Message/Unauthorize');
                        } else if (data.status == 400) {
                            sweetAlert("Validation Alert!", "Please check input data!", "warning");
                        }
                    }
                });
            }
        });



    </script>
}