@using Microsoft.Extensions.Configuration;
@using Microsoft.AspNetCore.Http
@inject IConfiguration Configuration;

@{
    ViewBag.Title = "State User Edit";
    string apiUrl = Configuration.GetValue<string>("WebAPIBaseUrl");
}
<!-- PAGE-HEADER -->
<div class="page-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fe fe-file-text mr-1"></i>Admin Consol</a></li>
        <li class="breadcrumb-item active" aria-current="page">State User Edit</li>
    </ol>
    <div class="ml-auto">
        <a href="~/StateUser/StateUserList" class="btn btn-primary btn-icon btn-sm text-white mr-2">
            <span>
                <i class="fe fe-plus"></i>
            </span> View
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md">
        <div class="card overflow-hidden">
            <div class="card-header">
                <h3 class="card-title">State User Edit</h3>
            </div>
            <div class="card-body">
                <form action="#" role="form" class="validate" id="formPost">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">User Name</label>
                                @* <input type="text" class="form-control" id="stateName" placeholder="Enter State Name" required>*@
                                <div class="input-box">
                                    <select class="form-control" id="selectUser">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">State Name</label>
                                @*<input type="text" class="form-control" id="stateName" placeholder="Enter State Name" required>*@
                                <div class="input-box">
                                    <select class="form-control" id="selectState">
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" id="btnupdate" class="btn btn-radius btn-success">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        GetUser()
        function GetUser(Id) {
            var opt = '';
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/AdScreen/GetStateUserList",
                contentType: "application/json; charset=utf-8",
                headers: {
                    "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                },
                dataType: "json",
                success: function (res) {
                    console.log(res)
                    var options = [];
                    options.push('<option value="">Please Select </option>');
                    for (var i = 0; i < res.data.length; i++) {
                        if (Id == res.data[i].userId) {
                            opt = 'selected'
                        } else {
                            opt = '';
                        }
                        options.push('<option value="' + res.data[i].userId + '" ' + opt + '>' + res.data[i].fullName + '</option>');
                    }
                    $("#selectUser").html(options.join(''));
                },
                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }

        GetState()
        function GetState(Id) {
            var opt = '';
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/State/GetStateList",
                contentType: "application/json; charset=utf-8",
                headers: {
                    "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                },
                dataType: "json",
                success: function (res) {
                    console.log(res)
                    var options = [];
                    options.push('<option value="">Please Select </option>');
                    for (var i = 0; i < res.data.length; i++) {
                        if (Id == res.data[i].stateId) {
                            opt = 'selected'
                        } else {
                            opt = '';
                        }
                        options.push('<option value="' + res.data[i].stateId + '" ' + opt + '>' + res.data[i].stateName + '</option>');
                    }
                    $("#selectState").html(options.join(''));
                },
                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }

    </script>
    <script>
        var stateUserId = @ViewBag.stateUserId
            loadSingleStateuser()
        function loadSingleStateuser() {
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/StateUser/GetSingleUser/" + stateUserId,
                contentType: "application/json; charset=utf-8",
                headers: {
                    "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                },
                dataType: "json",
                success: function (data) {
                    if (data) {
                        GetUser(data.userId);
                        GetState(data.stateId);
                    }
                    else {
                        sweetAlert("Validation Alert!", "Something unexpected!", "warning");
                    }
                },
                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }
        $("#btnupdate").click(function (e) {
            if (!document.getElementById("formPost").checkValidity()) {
                e.preventDefault();
            } else {

                var model = {
                    stateUserId: stateUserId,
                    userId: parseInt($("#selectUser").val()),
                    stateId: parseInt($("#selectState").val()),
                    updatedBy: @Context.Session.GetInt32("UserId"),
                }
                console.log(model)
                $.ajax({
                    type: "POST",
                    url: "@apiUrl/api/StateUser/updateStateUser",
                    data: JSON.stringify(model),
                    contentType: "application/json; charset=utf-8",
                    headers: {
                        "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                    },

                    success: function (data, statusText, xhr) {
                        console.log(data)
                        if (xhr.status === 200) {
                            $('#State_Tb').DataTable().ajax.reload(null, false);
                            sweetAlert({
                                html: true,
                                icon: "success",
                                title: "State User",
                                text: "Successfully updated!",
                                type: "success"
                            });
                        } else if (data.status === "duplicate") {
                            sweetAlert("Validation Alert!", data.responseMsg, "warning");
                        } else if (data.status === "error") {
                            sweetAlert("Validation Alert!", data.responseMsg, "warning");
                        } else {
                            sweetAlert("Validation Alert!", "Something unexpected!", "warning");
                        }
                    },
                    error: function (data) {
                        console.log(data);
                        if (data.status == 401) {
                            window.location.replace('/Message/TokenExpire');
                        } else if (data.status == 403) {
                            window.location.replace('/Message/Unauthorize');
                        } else if (data.status == 400) {
                            sweetAlert("Validation Alert!", "Please check input data!", "warning");
                        }
                    }
                });
            }
        });

      

    </script>
}