@using Microsoft.Extensions.Configuration;
@using Microsoft.AspNetCore.Http
@inject IConfiguration Configuration;

@{
    ViewBag.Title = "Agent";
    string apiUrl = Configuration.GetValue<string>("WebAPIBaseUrl");
}

<style>
    #preloader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9999;
    }

    .spinner {
        border: 4px solid rgba(255, 255, 255, 0.3);
        border-top: 4px solid #fff;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 1s linear infinite;
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>

<!-- PAGE-HEADER -->
<div class="page-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fe fe-file-text mr-1"></i>Admin Consol</a></li>
        <li class="breadcrumb-item active" aria-current="page">Agent Edit</li>
    </ol>
    <div class="ml-auto">
        <a href="~/Agent/AgentList" class="btn btn-primary btn-icon btn-sm text-white mr-2">
            <span>
                <i class="fe fe-plus"></i>
            </span> View
        </a>
    </div>
</div>


<div id="preloader" class="d-none">
    <div class="spinner"></div>
</div>

<div class="row">
    <div class="col-md">
        <div class="card overflow-hidden">
            <div class="card-header">
                <h3 class="card-title">Agent Edit</h3>
            </div>
            <div class="card-body">
                <form action="#" role="form" class="validate" id="formPost">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">State Name &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <div class="input-box">
                                    <select class="form-control" id="selectState">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">City Name &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <div class="input-box">
                                    <select class="form-control" id="selectcity">
                                    </select>
                                </div>
                            </div>
                        </div>
                      

                       @* <div class="col-lg-3 form-group overflow-hidden" id="ifv">
                            <div class="form-group">
                                <label class="form-label">Theater Name</label>
                                <div id="selectedAreasDisplay"></div>
                                <select multiple="multiple" class="form-control select2 w-100" id="selectArea" name="selectedAreas[]" data-placeholder="Select Theater"></select>
                            </div>
                        </div>

                        <div class="col-lg-3 form-group overflow-hidden" id="ifv">
                            <div class="form-group">
                                <label class="form-label">Update Theater Name</label>
                                <div id="selectedAreasDisplay"></div>
                                <select multiple="multiple" class="form-control select2 w-100" id="selectTheatre" name="selectedTheatres[]" data-placeholder="Select Theater"></select>
                            </div>
                        </div>*@

                        <div class="col-lg-3 form-group overflow-hidden" id="ifv">
                            <div class="form-group">
                                <label class="form-label">Theater Name</label>
                                <div id="selectedAreasDisplay"></div>
                                <select multiple="multiple" class="form-control select2 w-100" id="selectTheatre" name="selectedTheatres[]" data-placeholder="Select Theater"></select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Agent Name &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <input type="text" class="form-control" id="agentname" placeholder="Enter Name" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Agent Role &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <select class="form-control" name="example-tex`t-input" placeholder="Agent Role" id="agentrole" required>
                                    <option value="0">Please Select</option>
                                    <option value="Primary">Primary Agent</option>
                                    <option value="Backup">Backup Agent</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Phone Number &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <input type="text" class="form-control" id="phonenumber" placeholder="Enter Phone Number" required>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Email Id  &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <input type="text" class="form-control" id="emailid" placeholder="Enter Email Id" required>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Address &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <input type="text" class="form-control" id="address" placeholder="Enter Address" required>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Agent User Id &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <input type="text" class="form-control" id="agentuserid" placeholder="Enter UserId" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Password &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <input type="text" class="form-control" id="password" placeholder="Enter Password" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Profile Image &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <input type="file" class="form-control" id="profilephoto">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <img id="imgg" src="" width="100" class="rounded-circle">
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" id="btnupdate" class="btn btn-radius btn-success">Update</button>
                            <a type="button" href="~/Agent/AgentList" class="btn btn-radius btn-danger">Reset</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

@section scripts{
    <script>

        //Get StateList
        function StateList(Id) {
            var opt = '';
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/ScreenList/GetStateList",
                contentType: "application/json; charset=utf-8",
                headers: {
                    "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                },
                dataType: "json",
                success: function (res) {

                    var options = [];
                    options.push('<option value="">--Select State--</option>');
                    for (var i = 0; i < res.data.length; i++) {
                        if (Id == res.data[i].stateId) {
                            opt = 'selected'
                        } else {
                            opt = '';
                        }
                        options.push('<option value="' + res.data[i].stateId + '" ' + opt + '>' + res.data[i].state + '</  option>');
                    }
                    $("#selectState").html(options.join(''));
                },
                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }

        //Get CityList
        function CityList(selectedCity) {
            var opt = '';
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/ScreenList/GetCityList",
                contentType: "application/json; charset=utf-8",
                headers: {
                    "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                },
                dataType: "json",
                success: function (res) {
                    var options = [];
                    options.push('<option value="">Select City</option>');
                    for (var i = 0; i < res.data.length; i++) {
                        var city = res.data[i].city;
                        options.push('<option value="' + city + '">' + city + '</option>');
                    }
                    $("#selectcity").html(options.join(''));

                    // Set the selected city if provided
                    if (selectedCity) {
                        $('#selectcity').val(selectedCity);
                        // Trigger the change event to populate areas based on the selected city
                        $('#selectcity').trigger('change');
                    }
                },
                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }

        //Disabled & Clear the Theatre Name Dropdown if Clicked in State & City Dropdown
        $(document).on('click', function (e) {
            if ($(e.target).is('#selectState, #selectcity')) {
                $('#selectArea').val(null).prop('disabled', true).trigger('change');
                $('#selectedAreasDisplay').empty();
            }
        });

        //Clear the Update Theatre Name Dropdown if Clicked in City Dropdown
        $('#selectcity').change(function () {
            var selectedCity = $(this).val();
            if (selectedCity) {
                console.log("Selected City: " + selectedCity);
                AreaList(selectedCity);
            } else {
                $('#selectArea').empty();
            }
        });

        //Get Theatre Name
        function AreaList(selectedCity, selectedArea) {
            console.log("AreaList function called with selectedCity: " + selectedCity);

            $.ajax({
                type: "GET",
                url: "@apiUrl/api/ScreenList/GetTheaterListbycityname/" + selectedCity,
                dataType: "json",
                success: function (data) {
                    console.log("AreaList Data: ", data); // Log the data received from the API

                    var options = [];

                    // Add the "Select All Theaters" option with a unique value
                    options.push('<option value="__select_all__">Select All Theaters</option>');

                    if (data && data['data'] && data['data'].length > 0) {
                        for (var i = 0; i < data['data'].length; i++) {
                            var theatreName = data['data'][i].theatreName;
                            options.push('<option value="' + theatreName + '">' + theatreName + '</option>');
                        }
                    } else {
                        console.log("No theatreName Data"); // Log if there is no data
                    }

                    $("#selectTheatre").html(options.join('')); // Set options to the select element

                    $('#selectTheatre').multipleSelect({
                        width: '100%'
                    });

                    // Handle the "Select All Theaters" option
                    $("#selectTheatre").on('change', function () {
                        if ($(this).val() && $(this).val().includes('__select_all__')) {
                            // Select all theaters except "__select_all__"
                            var allTheaters = data['data'].map(theater => theater.theatreName);
                            $('#selectTheatre').multipleSelect('setSelects', allTheaters);
                        } else {
                            // Handle other selection logic if needed
                        }
                    });
                },
                error: function (data) {
                    console.log("theatreNameList Error: ", data); // Log any error messages

                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }


        var agentId = @ViewBag.agentId
            loadSingleAgent()
        function loadSingleAgent() {
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/Agent/GetSingleAgent/" + agentId,
                contentType: "application/json; charset=utf-8",
                headers: {
                    "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                },
                dataType: "json",
                success: function (data) {
                    if (data) {
                        StateList(data.stateId);
                        CityList(data.cityname);
                        //AreaList(data.cityname, data.theatreName);



                        var theaterNames = data.theatreName;
                        var theaterNamesArray = theaterNames.split(',').map(function (name) {
                            return name.trim();
                        });
                        console.log(theaterNamesArray);
                        $(document).ready(function () {
                            var selectArea = $("#selectArea");
                            for (var i = 0; i < theaterNamesArray.length; i++) {
                                var option = new Option(theaterNamesArray[i], theaterNamesArray[i], true, true);
                                selectArea.append(option);
                            }
                            selectArea.select2();
                        });



                        $('#agentname').val(data.agentName);
                        $('#agentrole').val(data.agentrole);
                        $('#phonenumber').val(data.agentPhoneNumber);
                        $('#address').val(data.address);
                        $('#emailid').val(data.emailId);
                        $('#agentuserid').val(data.agentuserId);
                        $('#password').val(data.passWord);
                        $('#imgg').attr('src', data.profilePhoto);
                    }
                    else {
                        sweetAlert("Validation Alert!", "Something unexpected!", "warning");
                    }
                },
                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }



        $("#btnupdate").click(function (e) {

            var selectedTheatre = $("#selectTheatre").val();
            if (selectedTheatre.length === 0) {
                e.preventDefault(); // Prevent form submission
                alert("Please Assign Theatre.");
                return; // Stop further execution
            }


            //var selectedAreas = $("#selectArea").val();
            //var selectedTheatre = $("#selectTheatre").val();
            //if (selectedAreas.length === 0 && selectedTheatre.length === 0) {
            //    e.preventDefault(); // Prevent form submission
            //    alert("Please Assign Theatre.");
            //    return; // Stop further execution
            //}



            if (!document.getElementById("formPost").checkValidity()) {
                e.preventDefault();
            } else {
                imgPath = '';
                var currentImageSrc = '';
                currentImageSrc = $('#imgg').attr('src');

                if ($('#profilephoto').val() != '' && $('#profilephoto').val() != 'Choose file') {
                    uploadphoto();
                } else if (currentImageSrc != '') {
                    imgPath = currentImageSrc;
                }



                var selectedAreas = $("#selectTheatre").val();
                // Convert selectedAreas to a single string
                var selectedAreasString = selectedAreas.join(', '); // Join areas with a comma


                //var selectedAreas = $("#selectArea").val();
                //var selectedTheatre = $("#selectTheatre").val();
                //if (selectedAreas && selectedTheatre) {
                //    var uniqueValuesSet = new Set(selectedAreas.concat(selectedTheatre));
                //    var selectedAreasString = Array.from(uniqueValuesSet).join(', ');
                //}


                // Show preloader
                var preloader = $("#preloader");
                preloader.removeClass("d-none");
                var model = {
                    agentId: agentId,
                    stateId: parseInt($("#selectState").val()),
                    cityname: $.trim($("#selectcity").val()),

                    theatreName: selectedAreasString, // Store as a single string

                    agentName: $.trim($("#agentname").val()),
                    agentrole: $.trim($("#agentrole").val()),
                    agentPhoneNumber: $.trim($("#phonenumber").val()),
                    address: $.trim($("#address").val()),
                    emailId: $.trim($("#emailid").val()),
                    agentuserId: $.trim($("#agentuserid").val()),
                    passWord: $.trim($("#password").val()),
                    profilePhoto: imgPath,
                    updatedBy: @Context.Session.GetInt32("UserId"),
                    stateId: @Context.Session.GetInt32("StateId"),
                }
                console.log(model)
                $.ajax({
                    type: "POST",
                    url: "@apiUrl/api/Agent/updateAgent",
                    data: JSON.stringify(model),
                    contentType: "application/json; charset=utf-8",
                    headers: {
                        "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                    },

                    //success: function (data, statusText, xhr) {
                    //    console.log(data)
                    //    if (xhr.status === 200) {
                    //        $('#Store_Tb').DataTable().ajax.reload(null, false);
                    //        sweetAlert({
                    //            html: true,
                    //            icon: "success",
                    //            title: "Agent",
                    //            text: "Successfully updated!",
                    //            type: "success"
                    //        });
                    //    } else if (data.status === "duplicate") {
                    //        sweetAlert("Validation Alert!", data.responseMsg, "warning");
                    //    } else if (data.status === "error") {
                    //        sweetAlert("Validation Alert!", data.responseMsg, "warning");
                    //    } else {
                    //        sweetAlert("Validation Alert!", "Something unexpected!", "warning");
                    //    }
                    //},

                    success: function (data, statusText, xhr) {
                        if (xhr.status === 200) {
                            Swal.fire({
                                icon: "success",
                                title: "Agent",
                                text: "Successfully updated!",
                            }).then(function () {
                                location.reload(); // Refresh the page
                            });

                            //preloader.addClass("d-none");
                        } else if (data.status === "AlreadyExist") {
                            Swal.fire({
                                icon: "warning",
                                title: "Validation Alert!",
                                text: data.responseMsg,
                            }).then(function () {
                                location.reload(); // Refresh the page
                            });
                        } else if (data.status === "error") {
                            Swal.fire({
                                icon: "warning",
                                title: "Validation Alert!",
                                text: data.responseMsg,
                            }).then(function () {
                                location.reload(); // Refresh the page
                            });
                        } else {
                            Swal.fire({
                                icon: "warning",
                                title: "Validation Alert!",
                                text: "Something unexpected!",
                            }).then(function () {
                                location.reload(); // Refresh the page
                            });
                        }
                        preloader.addClass("d-none");
                    },
                    error: function (data) {
                        console.log(data);
                        if (data.status == 401) {
                            window.location.replace('/Message/TokenExpire');
                        } else if (data.status == 403) {
                            window.location.replace('/Message/Unauthorize');
                        } else if (data.status == 400) {
                            sweetAlert("Validation Alert!", "Please check input data!", "warning");
                        }
                    }
                });
            }
        });

        function uploadphoto() {
            var totalFiles = document.getElementById('profilephoto').files.length;
            if (totalFiles > 0) {
                var formData = new FormData();
                var files = document.getElementById('profilephoto').files;
                formData.append("file", files[0]);
                $.ajax(
                    {
                        url: "/Upload/ImgUpload",
                        data: formData,
                        processData: false,
                        contentType: false,
                        async: false,
                        type: "POST",

                        success: function (data) {
                            imgPath = data;

                        },
                        error: function (data) {
                            window.location.replace('/Message/SessionExpire');
                        }
                    }
                );
            }
        }

    </script>

}
