@using Microsoft.Extensions.Configuration;
@using Microsoft.AspNetCore.Http
@inject IConfiguration Configuration;

@{
    ViewBag.Title = "Agent";
    string apiUrl = Configuration.GetValue<string>("WebAPIBaseUrl");
}
<!-- PAGE-HEADER -->
<div class="page-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fe fe-file-text mr-1"></i>Admin Console</a></li>
        <li class="breadcrumb-item active" aria-current="page">Agent List</li>
    </ol>
    <div class="ml-auto">
        <a href="~/Agent/CreateAgent" class="btn btn-primary btn-icon btn-sm text-white mr-2">
            <span>
                <i class="fe fe-plus"></i>
            </span> Agent Create
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Agent List</div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="Agent_Tb" class="table table-striped table-bordered nowrap dataTable no-footer dtr-inline" style="width:100%">
                        <thead>
                            <tr>
                                <th>State Name</th>
                                <th>City Name</th>
                                <th>Theatre Name</th>
                                <th>Agent Name</th>
                                <th>Agent Role</th>
                                <th>Phone Number</th>
                                <th>Email Id</th>
                                <th>Address</th>
                                <th>Agent User Id</th>
                                <th>Agent Password</th>
                                <th>Profile Image</th>
                                <th>Action</th>
                                <th>Admin Respond</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>

        //List
        loadStore()
        async function loadStore() {
            var table = $('#Agent_Tb').DataTable();
            table.destroy();
            table = $('#Agent_Tb').dataTable({
                "paginationType": "full_numbers",
                "dom": 'Bfrtip',
                "buttons": ['excel'],
                "searching": true,
                "paging": true,
                "sort": true,
                "info": true,
                "ajax": {
                    "url": '@apiUrl/api/Agent/GetAgentListbyuserid/' + @Context.Session.GetInt32("UserId"),
                    "type": "GET",
                    "dataType": "json",
                    "headers": {
                        "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                    },
                    "error": function (data) {
                        if (data.status == 401) {
                            window.location.replace('/Message/TokenExpire');
                        } else if (data.status == 403) {
                            window.location.replace('/Message/Unauthorize');
                        }
                    }
                },
                "order": [],
                "columns": [
                    { "data": "stateName", "orderable": true, "visible": true },
                    { "data": "cityname", "orderable": true, "visible": true },
                    //{ "data": "theatreName", "orderable": true, "visible": true },
                    {
                        "render": function (data, type, row) {
                            if (row.theatreName === '') {
                                return '';
                            } else {
                                // Split the theatre names into an array and join them with <br> tags
                                var theatreNames = row.theatreName.split(',');
                                var formattedTheatreNames = theatreNames.map(function (name) {
                                    return name.trim();
                                }).join('<br>');

                                return formattedTheatreNames;
                            }
                        }
                    },
                    { "data": "agentName", "orderable": true, "visible": true },
                    { "data": "agentrole", "orderable": true, "visible": true },
                    { "data": "agentPhoneNumber", "orderable": true, "visible": true },
                    { "data": "emailId", "orderable": true, "visible": true },
                    { "data": "address", "orderable": true, "visible": true },
                    { "data": "agentuserId", "orderable": true, "visible": true },
                    { "data": "passWord", "orderable": true, "visible": true },
                    //{
                    //    "render": function (data, type, row) {
                    //        if (row.profilePhoto === '')
                    //            return '';
                    //        else
                    //            return '<img style="margin-left: 28px;" class="avatar avatar-md rounded-circle" src="' + row.profilePhoto + '"/>'

                    //    }
                    //},
                    {
                        "render": function (data, type, row) {
                            if (row.profilePhoto === '')
                                return '';
                            else
                                return '<a href="#" data-toggle="modal" data-target="#photoModal" data-photo="' + row.profilePhoto + '"><img style="margin-left: 28px;" class="avatar avatar-md rounded-circle" src="' + row.profilePhoto + '"/></a>'
                        }
                    },
                    {
                        "render": function (data, type, row) {
                            return '<a class="btn btn-sm btn-primary" href="../Agent/AgentEdit?agentId=' + row.agentId + '"><i class="fa fa-edit"></i></a>' + '&nbsp&nbsp<button class="btn btn-sm btn-danger" data-target="#delete" data-id=' + row.agentId + ' data-title="Delete"><i class="fa fa-trash"></i></button>';

                        }
                    },
                    { "data": "adminDeletionResponse", "orderable": true, "visible": true }

                ]
            });
        }

        //Delete
        //$('#Agent_Tb tbody').on('click', 'button[data-target="#delete"]', function () {
        //    var id = $(this).data('id');
        //    swal({
        //        html: true,
        //        title: "Are you sure?",
        //        text: "You will not be able to recover this data!",
        //        type: "warning",
        //        showCancelButton: true,
        //        confirmButtonColor: "#DD6B55",
        //        confirmButtonText: "Yes, confirm it!",
        //        closeOnConfirm: false
        //    }, function () {
        //        $.ajax({
        //            type: "GET",
        //            url: "@apiUrl/api/Agent/DeleteAgent/" + id + "/" + @Context.Session.GetInt32("StateId"),
        //            contentType: "application/json; charset=utf-8",
        //            headers: {
        //                "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
        //            },
        //            dataType: "json",
        //            success: function (data, statusText, xhr) {
        //                if (xhr.status == 200) {
        //                    $('#Agent_Tb').DataTable().ajax.reload(null, false);
        //                    sweetAlert({
        //                        html: true,
        //                        title: "Agent",
        //                        text: "Successfully deleted!",
        //                        type: "success"
        //                    });
        //                } else if (xhr.status == 202) {
        //                    sweetAlert("Validation Alert!", data.responseMsg, "warning");
        //                } else {
        //                    sweetAlert("Validation Alert!", "Something unexpected!", "warning");
        //                }
        //            },
        //            error: function (data) {
        //                if (data.status == 401) {
        //                    window.location.replace('/Message/TokenExpire');
        //                } else if (data.status == 403) {
        //                    window.location.replace('/Message/Unauthorize');
        //                }
        //            }
        //        });
        //    });
        //});

        $('#Agent_Tb tbody').on('click', 'button[data-target="#delete"]', function () {
            var id = $(this).data('id');
            swal({
                html: true,
                title: "Are you sure?",
                text: "Delete request will be sent to Admin!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, confirm it!",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    type: "GET",
                    url: "@apiUrl/api/Agent/SetDeleteRequest/" + id + "/" + @Context.Session.GetInt32("UserId"),
                    contentType: "application/json; charset=utf-8",
                    headers: {
                        "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                    },
                    dataType: "json",
                    success: function (data, statusText, xhr) {
                        if (xhr.status == 200) {
                            $('#Agent_Tb').DataTable().ajax.reload(null, false);
                            sweetAlert({
                                html: true,
                                title: "Agent Delete Request",
                                text: "Successfully submitted!",
                                type: "success"
                            });
                        } else if (xhr.status == 202) {
                            sweetAlert("Validation Alert!", data.responseMsg, "warning");
                        } else {
                            sweetAlert("Validation Alert!", "Something unexpected!", "warning");
                        }
                    },
                    error: function (data) {
                        if (data.status == 401) {
                            window.location.replace('/Message/TokenExpire');
                        } else if (data.status == 403) {
                            window.location.replace('/Message/Unauthorize');
                        }
                    }
                });
            });
        });

        // JavaScript function for opening profile photo in a modal
        $(document).on('click', 'a[data-toggle="modal"]', function () {
            var photoUrl = $(this).data('photo');
            $('#profilePhotoModal').attr('src', photoUrl);
        });
    </script>
}

<!-- Modal for displaying profile photo -->
<div id="photoModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Profile Photo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <!-- Center the content -->
                <img id="profilePhotoModal" class="img-fluid mx-auto" src="" alt="Profile Photo">
            </div>
        </div>
    </div>
</div>
